<a href="https://colab.research.google.com/github/AMIT110409/pandas_for-datascience-/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
## series it is a one dimensional lableed array that can hold data of any type 

s=pd.Series(np.random.rand(5))
s

0    0.389108
1    0.127311
2    0.158888
3    0.336733
4    0.015110
dtype: float64

In [ ]:
## indexing in series 

s[2]
s[3]

0.33673280454361665

In [ ]:
##slicing

s[2:]

2    0.158888
3    0.336733
4    0.015110
dtype: float64

In [ ]:
#3update the value 

s[0]=12

In [ ]:
s

0    12.000000
1     0.127311
2     0.158888
3     0.336733
4     0.015110
dtype: float64

In [ ]:
s.index=['a','b','c','d','e']

In [ ]:
s

a    12.000000
b     0.127311
c     0.158888
d     0.336733
e     0.015110
dtype: float64

In [ ]:
s.index=['*','*','*','*','*']
s

*    12.000000
*     0.127311
*     0.158888
*     0.336733
*     0.015110
dtype: float64

In [ ]:
s=pd.Series(np.random.rand(5),index=['a','b','c','d','e'])

In [ ]:
s

a    0.405139
b    0.505918
c    0.276004
d    0.063031
e    0.242491
dtype: float64

In [ ]:
s.argmax()

1

In [ ]:
s.argmin()

3

In [ ]:
s.mean()

0.2985167164233943

In [ ]:
s.median()

0.2760042962026503

In [ ]:
s.max()
s.min()

0.06303086610950348

In [ ]:
s.min()

0.06303086610950348

In [ ]:
arr=np.array([1,2,3,4])
arr

array([1, 2, 3, 4])

In [ ]:
arr_series=pd.Series(arr)
arr_series

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
## using dictionary

d={'a':1,'b':2,'c':3,'d':4}
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
d_series=pd.Series(d)
d_series

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
type(d_series)

pandas.core.series.Series

In [ ]:
d_series.drop('a')

b    2
c    3
d    4
dtype: int64

In [ ]:
##DataFrame
import pandas as pd 
import numpy as np 
s1 = pd.Series(np.random.rand(5))
s2 = pd.Series(np.random.rand(5))

In [ ]:
print(s1)
print(s2)

0    0.042535
1    0.736705
2    0.239030
3    0.622022
4    0.583631
dtype: float64
0    0.192487
1    0.018118
2    0.424467
3    0.827732
4    0.873101
dtype: float64

In [ ]:
## create Dataframe from using Series 

a=pd.DataFrame([s1,s2])
a

          0         1         2         3         4
0  0.042535  0.736705  0.239030  0.622022  0.583631
1  0.192487  0.018118  0.424467  0.827732  0.873101

In [ ]:
## Creating a dataframe using dictionary 

d = {'age':[22,24,28],'salary':[1000,1020,1045]}
d

{'age': [22, 24, 28], 'salary': [1000, 1020, 1045]}

In [ ]:
c=pd.DataFrame(d) ## converting dictionary  into DataFrame 
c

   age  salary
0   22    1000
1   24    1020
2   28    1045

In [ ]:
c['gender']=['Male','Female','Male']
c

   age  salary  gender
0   22    1000    Male
1   24    1020  Female
2   28    1045    Male

In [ ]:
c=[['abc',1],['def',2],['ghi',3],['hij'],['kim',5]]
c

[['abc', 1], ['def', 2], ['ghi', 3], ['hij'], ['kim', 5]]

In [ ]:
c_Frame = pd.DataFrame(c,columns=['A','B'])
c_Frame

     A    B
0  abc  1.0
1  def  2.0
2  ghi  3.0
3  hij  NaN
4  kim  5.0

In [ ]:
data2=pd.DataFrame(c,index=['A','B','C','D','e'])
data2

     0    1
A  abc  1.0
B  def  2.0
C  ghi  3.0
D  hij  NaN
e  kim  5.0

In [ ]:
marks =[['Amit','physics',90],['Alex','Physics',99]]

In [ ]:
f1= pd.DataFrame(marks,columns=['Name','subject','marks'])
f1

   Name  subject  marks
0  Amit  physics     90
1  Alex  Physics     99

In [ ]:
f1.rename({'marks':'Marks'},axis=1) ## when we want change in horizontal then put axis=1

   Name  subject  Marks
0  Amit  physics     90
1  Alex  Physics     99

In [ ]:
f1.rename({0:'A',1:'B'},axis=0) ## changes in vertical then axis = 0

   Name  subject  marks
A  Amit  physics     90
B  Alex  Physics     99

In [ ]:
## loc and iloc 

c

[['abc', 1], ['def', 2], ['ghi', 3], ['hij'], ['kim', 5]]

In [ ]:
c_Frame

     A    B
0  abc  1.0
1  def  2.0
2  ghi  3.0
3  hij  NaN
4  kim  5.0

In [ ]:
f1.iloc[:]

   Name  subject  marks
0  Amit  physics     90
1  Alex  Physics     99

In [ ]:
f1.iloc[:,2]

0    90
1    99
Name: marks, dtype: int64

In [ ]:
f1.loc[:,['Name','marks']]

   Name  marks
0  Amit     90
1  Alex     99

In [ ]:
f1.shape

(2, 3)

In [ ]:
f1.values

array([['Amit', 'physics', 90],
       ['Alex', 'Physics', 99]], dtype=object)

In [ ]:
f1.columns

Index(['Name', 'subject', 'marks'], dtype='object')

In [ ]:
f1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     2 non-null      object
 1   subject  2 non-null      object
 2   marks    2 non-null      int64
dtypes: int64(1), object(2)
memory usage: 176.0+ bytes

In [ ]:
f1.dtypes

Name       object
subject    object
marks       int64
dtype: object

In [ ]:
f1.isnull().sum()

Name       0
subject    0
marks      0
dtype: int64

In [ ]:
f1.isnull().any()

Name       False
subject    False
marks      False
dtype: bool

In [ ]:
c_Frame

     A    B
0  abc  1.0
1  def  2.0
2  ghi  3.0
3  hij  NaN
4  kim  5.0

In [ ]:
c_Frame.isnull().sum()   ## checking the missing value

A    0
B    1
dtype: int64

In [ ]:
c_Frame.isnull().any()

A    False
B     True
dtype: bool

In [ ]:
c_Frame.drop(columns=['A'],axis=1)  ## axis=1------columns 
##axis=0-----Rows

     B
0  1.0
1  2.0
2  3.0
3  NaN
4  5.0

In [ ]:
c_Frame.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [ ]:
df = pd.DataFrame({'Bike':['Yamaha','Hero','pulsor','Hero','pulsor','pulsor'],
                   'CC':[150,110,180,110,220,180]})

In [ ]:
df

     Bike   CC
0  Yamaha  150
1    Hero  110
2  pulsor  180
3    Hero  110
4  pulsor  220
5  pulsor  180

In [ ]:
df.duplicated() ## check if there is duplicate value is there or not

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool

In [ ]:
df = df.drop_duplicates()
df

     Bike   CC
0  Yamaha  150
1    Hero  110
2  pulsor  180
4  pulsor  220

In [ ]:
data = pd.read_csv('mtcars.csv')
data

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [ ]:
data.head(3)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [ ]:
data.tail() ## last five record we get from tail function

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [ ]:
pwd ## where file isrunning

'/content'

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [ ]:
data.isnull().sum()

model    0
mpg      0
cyl      0
disp     0
hp       0
drat     0
wt       0
qsec     0
vs       0
am       0
gear     0
carb     0
dtype: int64

In [ ]:
data.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [ ]:
## pd.read_excel('..xlsx )
## pd.read.html('.')